html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: repeat;
    background: -webkit-linear-gradient( to bottom, black, white);
    background: -moz-linear-gradient( to bottom,  black, white);
    background: -ms-linear-gradient( to bottom,  black, white);
    background: -o-linear-gradient( to bottom,  black, white);
    background: linear-gradient( to bottom,  black, white);
}

body {
    text-align: center;
}
